# required parameters
SQLHOST=127.0.0.1
SQLDB=AUTOMATION
#SQLDB=HOMEWIFI
SQLUSER=dummy
SQLPASS=dummy
INTERFACE=enp2s0
#INTERFACE=wlp1s0

# optional parameters
RETRIES=5
TIMEOUT=10
AGGR_RETRIES=5
AGGR_TIMEOUT=5
PROBE_TIMEOUT=120
